$theme-name: "default";

$border-color: #e4e9ec;
$background-color: white;
$background-muted-color: #e5e5e5;

$foreground-color: #000000;
$foreground-muted-color: #666666;

$border-color-dark: #494962;
$background-color-dark: #222233;
$background-muted-color-dark: #1b1b2b;

$foreground-color-dark: #eeeeee;
$foreground-muted-color-dark: #999999;