table.default {
    border: 1px solid #e4e9ec;
    // border-radius: 10px
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 3px;
    overflow: hidden;
    /* Adjust this value to your desired gap */

    td {
        padding: 10px;
        border: 1px solid #e4e9ec;
        border-collapse: collapse;
    }
}

.rui_fullWidth {
    width: 100%;
}